/********** Template CSS **********/
:root {
    --primary: #06A3DA;
    --secondary: #492bb4;
    --light: #EEF9FF;
    --dark: #091E3E;
}


/*** Spinner ***/
.spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}


/*** Button ***/
.btn {
    /*font-family: 'Times', sans-serif;*/
    /* font-family: 'Ovo', serif; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 60px;
    height: 60px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;    
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    /*font-family: 'Nunito', sans-serif;
    font-family: 'Cutive Mono', monospace;*/
    /* font-family: 'Oregano', cursive; */
    font-family: 'Quicksand', sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-dark .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}


/*** Carousel ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, .7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


/*** Service ***/
.service-item {
    position: relative;
    height: 300px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}


/*** Team ***/
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    background: rgba(9, 30, 62, .7);
}

.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}


/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}

@media (min-width: 767.98px) {
    .footer-about {
        margin-bottom: -75px;
    }
}

.btn-sm, .btn-group-sm > .btn {
    font-size: 2.1rem !important;
}

/**
FUENTES DE LETRAS
**/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {    
    /* font-family: 'Explora', cursive !important; */
    /* font-family: 'Quicksand', sans-serif !important; */
    font-family: 'Ovo', serif;
}
.exlora {
    font-family: 'Explora', cursive !important;
}
.monoton{
    font-family: 'Monoton', cursive !important;
    font-size: 1.2em !important;
}
/* .mulish{
    font-family: 'Mulish', sans-serif !important;
    font-size: 3.5em !important;
} */
.italianno{
    font-family: 'Italianno', cursive !important;
}
.vermas {
    font-family: 'Explora', cursive !important;
    font-size: 25px;
    font-weight: bold;
}
.enviaremail{
    padding: .375rem .75rem !important;
}
h5, .h5 {
    font-size: 1.45rem !important;
}

/**
SKILLS TOOLTIP
**/
.wrapper {
    /*display: inline-flex;*/
    display: inline-block;
    line-height: 15.5 !important;
}

.skill{
    height: 50px !important;
    width: 50px !important;
}
.wrapper .icon {
    margin: 0 20px;
    /*line-height: 20.5 !important; */
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon .tooltip {
    position: absolute !important;
    top: 0 !important;
    z-index: 1 !important;
    background: #fff !important;
    color: #fff !important;
    padding: 10px 18px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    border-radius: 25px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.575) !important;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
}

.wrapper .icon:hover .tooltip {
    top: -70px !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

.tooltip:before {
    position: absolute !important;
    content: "" !important;
    height: 15px !important;
    width: 15px !important;
    background: #fff !important;
    left: 50% !important;
    bottom: -6px !important;
    transform: translateX(-50%) rotate(45deg) !important;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.911) !important;
}

.wrapper .angular:hover .tooltip,
.wrapper .angular:hover .tooltip:before {
    background: rgb(226, 50, 55) !important;
}

.wrapper .react:hover .tooltip,
.wrapper .react:hover .tooltip:before {
    background: rgb(0, 216, 255) !important;
}

.wrapper .bootstrap:hover .tooltip,
.wrapper .bootstrap:hover .tooltip:before {
    background: rgb(86, 61, 124) !important;
}

.wrapper .javascript:hover .tooltip,
.wrapper .javascript:hover .tooltip:before {
    background: rgb(247, 223, 30) !important;
    color: #000 !important;
}

.wrapper .html:hover .tooltip,
.wrapper .html:hover .tooltip:before {
    background: rgb(228, 79, 38) !important;
}

.wrapper .css:hover .tooltip,
.wrapper .css:hover .tooltip:before {
    background: rgb(21, 114, 182) !important;
}

.wrapper .java:hover .tooltip,
.wrapper .java:hover .tooltip:before {
    background: rgb(214, 120, 57) !important;
}
.wrapper .spring:hover .tooltip,
.wrapper .spring:hover .tooltip:before {
    background: rgb(109, 179, 63) !important;
}

.wrapper .jenkins:hover .tooltip,
.wrapper .jenkins:hover .tooltip:before {
    background: rgb(240, 214, 183) !important;
    color: #000 !important;
}

.wrapper .docker:hover .tooltip,
.wrapper .docker:hover .tooltip:before {
    background: rgb(35, 150, 237) !important;
}

.wrapper .kubernetes:hover .tooltip,
.wrapper .kubernetes:hover .tooltip:before {
    background: rgb(50, 109, 230) !important;
}

.wrapper .aws:hover .tooltip,
.wrapper .aws:hover .tooltip:before {
    background: rgb(224, 147, 59) !important;
    color: rgb(41, 39, 39) !important;
}

.wrapper .gcp:hover .tooltip,
.wrapper .gcp:hover .tooltip:before {
    background: rgb(148, 150, 155) !important;
    color: rgba(0, 0, 0, 0.719) !important;
}

.wrapper .heroku:hover .tooltip,
.wrapper .heroku:hover .tooltip:before {
    background: rgb(78, 51, 155) !important;
}

.wrapper .mongo:hover .tooltip,
.wrapper .mongo:hover .tooltip:before {
    background: rgb(5, 141, 84) !important;
}

.wrapper .postgre:hover .tooltip,
.wrapper .postgre:hover .tooltip:before {
    background: rgb(4, 112, 145) !important;
}

.wrapper .mysql:hover .tooltip,
.wrapper .mysql:hover .tooltip:before {
    background: rgb(33, 146, 180) !important;
}

.wrapper .intellij:hover .tooltip,
.wrapper .intellij:hover .tooltip:before {
    background: #dc3545 !important;
}

.wrapper .visual:hover .tooltip,
.wrapper .visual:hover .tooltip:before {
    background: #007bff !important;
}

.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
    background: rgb(158, 158, 158) !important;
}

.wrapper .bitbucket:hover .tooltip,
.wrapper .bitbucket:hover .tooltip:before {
    background: rgb(38, 132, 255) !important;
}

.wrapper .swagger:hover .tooltip,
.wrapper .swagger:hover .tooltip:before {
    background: rgb(73, 163, 43) !important;
}

.wrapper .sketch:hover .tooltip,
.wrapper .sketch:hover .tooltip:before {
    background: #fd7e14 !important;
}

.wrapper .jira:hover .tooltip,
.wrapper .jira:hover .tooltip:before {
    background: rgb(23, 95, 230) !important;
}


